.home-container {
    color: var(--text-color-primary);
    padding-top: 2.5rem;
}

.gap-lg {
    gap: 9rem;
}

.main-heading {
    font-size: 3.5rem;
    line-height: 4rem;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--text-color-primary);
    font-size: 3rem;
    color: var(--text-color-primary);
    width: 45vw;
    text-align: center;
}

.input:focus {
    outline: none;
}